<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

<h1>Now let's get you started...</h1>

  <div class="welcome-page">

<p>Here are some basic guidelines:</p>

  <div class='font-1'>Select ONE Category you would like to browse or create post in.</div>
  <div class='font-1'>Once you select a Category, the most recent post will show.</div>

  <div>To browse all previous post scroll up.</div>

  <div class='font-1'>When creating a post please make sure you selected the</div>
  <div class='font-1'>correct Category in which your post pertains to.</div>

  <div>Don't forget to share the love and "LIKE" other Users post.</div>
  <div class='font-1'>Feel free to share your post on Facebook!</div>

  <div>Most importantly, PLEASE keep all content postive!</div>

</div>





