<h1>Now let's get you started...</h1>

<p>Here are some basic guidelines:</p>
<ol>
  <li>
  Select ONE Category you would like to browse or create post in.
  </li>
  <li>
  Once you select a Category, the most recent post will show. To browse all previous post scroll up.
  </li>
  <li>
  When creating a post please make sure you selected the correct Category in which your post pertains to.
  </li>
  <li>
  Don't forget to share the love and "LIKE" other Users post.
  </li>
  <li>
  Feel free to share your post on Facebook!
  </li>
  <li>
  Most importantly, PLEASE keep all content postive!
  </li>

</ol>
