<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

<div class=post-update>
<h1><%= @post.user.user_name %></h1>

<p><%= @post.description %></p>


    <%= link_to "Edit", edit_post_path(@post) %>

    <%= link_to "Back to Post", category_path(@post.category_id) %>
</div>
