
.description {
  text-align: center;
}

.edit-post {
  text-align: center;
}

.post-update {
  text-align: center;
}

.post-button {
  text-align: center;
  font-size: 15px;
}

.description-box {
  background-color: red;
}

// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
