.form-group {
    text-align: center;

}

.container {
  background-image: image-url("Cover.png");
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-attachment: fixed;
  background-position: center;
}


// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
