.form-group {
    text-align: center;

}

#login {
  background-image: image-url("Cover.png");
  position: relative;
  background-size: 1300px;
  background-attachment: fixed;
}


// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
