
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>


<h1>Select a Category</h1>

<% @categories.each do |category| %>
  <%= link_to category.topic, category, class: "btn btn-default" %>
<% end %>
