<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

<h2>Select a Category</h2>

<div>
<% @categories.each do |category| %>
<div class= "category_style col-sm-5">
 <div class="btn btn-default col-sm-12"> <%= link_to category.topic, category_path(category) %> </div>
</div>
</div>
<% end %>

