<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

<h2>Select a Category</h2>

  <% @categories.each do |category| %>
  <div class="container" "gallery-cell" id="category-list">
  <div class="category btn btn-default col-xs-1 col-sm-2">
  <div class='row'>
  <%= link_to category.topic, category_path(category) %>
  </div>
  </div>
  </div>
<% end %>

